* {
    margin: 0;
    padding: 0;
}


/* Sidebar */

aside {
    width: 250px;
    height: 100vh;
    background-color:gray ;
}

* Aside.css */ .sidebar-open {
    width: 250px;
    transition: width 0.3s ease;
}

.sidebar-closed {
    width: 80px;
    transition: width 0.3s ease;
    overflow: hidden;
}
.nav-link{
    color: white;
    margin: auto;
}
.dropdown-item{
    margin-left: 20px;
}


.title {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.title h4 {
    margin: 15px;
}

.toggle-button {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile img {
    width: 100%;
    max-width: 180px;
    /* Adjust as needed */
}

.menus i {
    font-size: 1.5em;
    margin-right: 10px;
}

.sidebar-closed .menus {
    justify-content: center;
}

.sidebar-closed .title h4,
.sidebar-closed .profile,
.sidebar-closed .menus p {
    display: none;
    /* Hide these elements when the sidebar is closed */
}
.nav button {
    color: white;
}

#AdminNav {
    width: 88.5%;
}


/* Form Css */


