* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Navbar_menu {
    margin-left: 80px;
}

.search {
    margin-left: 200px;
}

#summer {
    background-color: #88c8bc;
}

#font,
#navbarScrollingDropdown {
    color: black;
    /* font-family: "Poppins", sans-serif;
     */
    font-family: "Rokkitt", serif;
    font-size: 18PX;
    font-weight: 200;
    
}
.active{
    color: #88c8bc;
}

#font:hover,
#navbarScrollingDropdown:hover {
    color:#88c8bc;
}

.cart {
    margin-right: 170px;
    cursor: pointer;
}

