* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Navbar_menu {
    margin-left: 80px;
}

.search {
    margin-left: 200px;
}

#summer {
    background-color: #88c8bc;
}

#font,
#navbarScrollingDropdown {
    color: black;
    font-family: "Poppins", sans-serif;
}
.active{
    color: red;
}

#font:hover,
#navbarScrollingDropdown:hover {
    color:red
}

.cart {
    margin-right: 170px;
}